<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Media
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/albums/manage">albums</a></li>
                    <li><a class="dropdown-item" href="/artists/manage">artists</a></li>
                    <li><a class="dropdown-item" href="/genres/manage">genres</a></li>
                    <li><a class="dropdown-item" href="/playlists/manage">playlists</a></li>
                    <li><a class="dropdown-item" href="/mediatypes/manage">types</a></li>
                    <li><a class="dropdown-item" href="/tracks/manage">tracks</a></li>
                </ul>
            </li>
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sales
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/customers/manage">customers</a></li>
                        <li><a class="dropdown-item" href="#">emloyees</a></li>
                        <li><a class="dropdown-item" href="#">invoices</a></li>
                        <li><a class="dropdown-item" href="#">invoice items</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>